.home-introduction-left-side {
  h1 {
    font-weight: 300;
    font-size: 50px;
  }

  p{
    font-size: 20px;
  }

  .home-product-navigator {
    align-items: center;
    display: flex;

    .home-product-navigator--icon {
      background-color: #f71137;
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

    .home-product-navigator--text {
      transform: translateX(-20px);
      font-weight: 200;
    }
  }
}
